<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ticket List</title>
    <link href="http://localhost:8000/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
        body {
        padding-top: 60px;
        padding-bottom: 40px; }
    </style>

    <script src="http://localhost:8000/jquery.js"></script>
    <script src="http://localhost:8000/json2.js"></script>
    <script src="http://localhost:8000/underscore.js"></script>
    <script src="http://localhost:8000/backbone.js"></script>
    <script src="http://localhost:8000/bootstrap.min.js"></script>
    <script src="http://localhost:8000/main.js"></script>
    <script type="type/tempale" id="feature_request_tmpl">
        <p>features ...</p>
    </script>
    <script type="type/tempale" id="ticket_table_tmpl">
        <table class="table">
            <thead>
                <tr>
                    <th>Priority</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody id="ticket_list_body"></tbody>
        </table>
    </script>
    <script type="type/tempale" id="ticket_tmpl">
        <td><%= model.priority%></td>
        <td><a href="#addTicketDialog/<%=model.id%>"><%= model.title %></a></td>
        <td><button type="submit" class="btn btn-danger delete">Delete</button></td>
    </script>
    <script type="type/tempale" id="ticket_page_tmpl">
        <form class="form-horizontal">
            <fieldset>
                <div class="control-group">
                    <label class="control-label">Title </label>
                    <div class="controls">
                        <input type="text" id="inputTicketTitle" value="<%=model.title%>">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Priority</label>
                    <div class="controls">
                        <select id="inputTicketPriority">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <a id="saveTicket" href="#allTickets" type="submit" class="btn btn-primary">Save</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            var router = new TicketRouter();
            Backbone.history.start();
        });
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div id="container">
                <ul class="nav">
                    <li class="divider-vertical" class="active"><a href="#allTickets">All Tickets</a></li>
                    <li class="divider-vertical"><a  href="#addTicketDialog">+ new Ticket</a></li>
                    <li><a href="#featureRequest">Feature requests</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="span10">
        <div id="ticket_list"></div>
        <div id="ticketDialog"></div>
        <div id="feature_request_page"></div>
    </div>
</body>
</html>